<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render partial: "shared/category_header", locals: {taxon: @taxon}  %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: "shared/sidebar_filter_by_category", locals: {taxonomies: @taxonomies} %>
        <%= render partial: "shared/sidebar_filter_by_color" %>
        <%= render partial: "shared/sidebar_filter_by_size" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render partial: "shared/product_sort" %>
        </div>
        <div class="row">
          <%= render partial: "shared/product_box", collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render partial: "shared/partners_footer" %>
