<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render partial: "shared/product_header", locals: {product: @product}  %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <%= render partial: "shared/product_slider", locals: {product: @product} %>
            </div>
            <div class="media-body">
              <%= render partial: "shared/product_body", locals: {product: @product} %>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <%= render partial: "shared/products_content" %>
      </div>
    </div>
  </section>
</div>
