<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#category-<%= taxonomy.id %>">
    <%= taxonomy.name %><i class="fa fa-plus"></i>
  </a>
  <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
    <%= render partial: "shared/filter_item_taxon", collection: taxonomy.taxons.select(&:leaf?), as: "taxon" %>
  </ul>
</li>
