<div class="modal fade <%= modal_type %>" id="<%= modal_type %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% modal_title = modal_type == :login ? "ログイン" : "新規登録" %>
        <h3 class="modal-title"><%= modal_title %></h3>
      </div>
      <div class="modal-body">
        <% form_action = modal_type == :login ? "login-" : "" %>
        <form action="<%= form_action %>" method="POST" role="form">
          <div class="form-group">
            <label for="<%= "#{modal_type}-email" %>">メールアドレス</label>
            <input type="email" class="form-control" id="<%= "#{modal_type}-email" %>">
          </div>
          <div class="form-group">
            <label for="<%= "#{modal_type}-password" %>">パスワード</label>
            <input type="password" class="form-control" id="<%= "#{modal_type}-password" %>">
          </div>
          <% if modal_type == :login %>
            <div class="checkbox">
              <label>
              <input type="checkbox"> 記憶しておく
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">ログイン</button>
            <a href="lost-password.html" class="btn btn-link btn-block">パスワードをお忘れの方</a>
          <% end %>
          <% if modal_type == :signup %>
            <div class="form-group">
              <label for="signup-password-confirmation">パスワード（確認用）</label>
              <input type="password" class="form-control" id="signup-password-confirmation">
            </div>
            <button type="submit" class="btn btn-primary btn-block">登録する</button>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
