<ul class="list-inline">
  <li>
    <a href=<%= potepan_category_path(product.taxons.first.id) %>>
      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
    </a>
  </li>
</ul>
<h2><%= product.name %></h2>
<h3><%= product.master.display_amount %></h3>
<p><%= product.description %></p>
<span class="quick-drop">
  <select name="guiest_id3" id="guiest_id3" class="select-drop">
    <option value="0">S</option>
    <option value="1">M</option>
    <option value="2">L</option>
    <option value="3">XL</option>
  </select>
</span>
<span class="quick-drop resizeWidth">
  <select name="guiest_id4" id="guiest_id4" class="select-drop">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</span>
<div class="btn-area">
  <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
