<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- HEADER -->
    <div class="header clearfix">
      <!-- TOPBAR -->
      <%= render partial: "shared/application_topbar" %>
      <!-- NAVBAR -->
      <%= render partial: "shared/application_navbar" %>
    </div>
    <!-- MAIN -->
    <%= yield %>
    <!-- FOOTER -->
    <!-- COPY RIGHT -->
    <%= render partial: "shared/application_footer"%>
    <!-- LOGIN MODAL -->
    <%= render partial: "shared/modal_login_signup", locals: {modal_type: :login} %>
    <!-- SIGN UP MODAL -->
    <%= render partial: "shared/modal_login_signup", locals: {modal_type: :signup} %>
    <!-- PORDUCT QUICK VIEW MODAL -->
    <%= render partial: "shared/modal_product_quick_view" %>
    <%= javascript_include_tag 'application' %>  
  </body>
</html>
